apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ ingress.name | default("backend-ingress") }}
  namespace: {{ k8s_namespace | default('test') }}
  labels:
    app: {{ labels.app | default('backend') }}
spec:
  ingressClassName: {{ ingress.className | default("nginx") }}
  rules:
    - http:
        paths:
          - path: {{ ingress.path | default("/api") }}
            pathType: {{ ingress.pathType | default("Prefix") }}
            backend:
              service:
                name: {{ service.name | default("backend-service") }}
                port:
                  number: {{ service.port | default(80) }}
