apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: backend-pdb
  namespace: {{ k8s_namespace | default('devops') }}
  labels:
    app: {{ labels.app | default('backend') }}
spec:
  minAvailable: {{ pdb.minAvailable | default(2) }}
  selector:
    matchLabels:
      app: {{ labels.app | default('backend') }}
